# Python Types - Exercises

Follow the instructions in each cell and complete the tasks. Use the `type(variable)` to display the type of your variable.  
Use `int(variable)`, `str(variable)`, `bool(variable)`, `float(variable)` to convert basic types to other data types.

### Exercise 1: Identify the Data Types

Use the type() function to check and print the types of the following variables. Ex. `type(variable)`

In [ ]:
x = 42
y = 3.14
z = "Hello"
a = True
b = None

In [ ]:
# Your code here

### Exercise 2: Correct the TypeError in String Concatenation

The following code throws an error. Modify it to work correctly.

**Expected Output:**
"Hello, my name is Alice and I am 25 years old."

In [ ]:
name = "Alice"
age = 25

message = "Hello, my name is " + name + " and I am " + age + " years old."

print(message)

### Exercise 3: Convert Data Types Correctly
Convert the variables into the correct type to perform the operation successfully.

In [ ]:
num1 = "100"
num2 = 50

# Convert num1 so that this operation works and the result becomes 150
result = num1 + num2

print("The result is:", result)

### Exercise 4: Avoid Implicit Type Errors
Predict whether the following code will work without errors. If not, fix it.

**Expected Output**:
The program should output Total cost: 29.97 without errors.

In [ ]:
price = 9.99
quantity = "3"

total_cost = price * quantity

print("Total cost:", total_cost)

### Exercise 5: Cast a String to an Integer

You have a string representing a number. Cast it into an integer to perform a additon.

In [17]:
str_number = "123"

result = 10 + str_number

print("The result is:", result)

### Exercise 6: Cast a Float to an Integer

Cast a float to an integer and observe the result.

In [ ]:
float_value = 9.99

result = float_value

print("The result is:", result)

### Exercise 7: Convert Integer to Float
Cast an integer into a floating-point number and perform a division.

In [ ]:
int_value = 7

result = int_value / 2

print("The result is:", result)