# Python Data Structures - Sets and Tuples

See [set type documentation](https://docs.python.org/3.10/library/stdtypes.html#set) and [tuple type documentation](https://docs.python.org/3.10/library/stdtypes.html#tuples) for references on methods available on a sets and tuples

## Hints

Python provides **sets** and **tuples** as built-in collection types for storing multiple values.  
- **Tuples** are **ordered** and **immutable** (cannot be changed after creation).  
- **Sets** are **unordered**, **mutable**, and do **not allow duplicate values**.  

### Tuples

### 1. Creating Tuples  
- Tuples are created using **parentheses `()`**.  
- Example:
  ```python
  colors = ("red", "green", "blue")
  ```

### 2. Accessing Tuple Elements  
- You can access elements using **indexing** just like lists:
  ```python
  print(colors[0])  # Output: red
  ```
- **Negative indexing** works as well:
  ```python
  print(colors[-1])  # Output: blue
  ```

### 3. Tuple Unpacking  
- You can **assign tuple values** to multiple variables:
  ```python
  person = ("Alice", 25, "Engineer")
  name, age, profession = person
  print(name)  # Output: Alice
  ```

### 4. Tuple Concatenation & Repetition  
- **Tuples can be combined** using `+`:
  ```python
  tuple1 = (1, 2, 3)
  tuple2 = (4, 5, 6)
  combined = tuple1 + tuple2
  ```
- **Tuples can be repeated** using `*`:
  ```python
  repeated = tuple1 * 2  # Output: (1, 2, 3, 1, 2, 3)
  ```

---

### Sets

### 1. Creating Sets  
- Sets are **created using curly braces `{}`**:
  ```python
  fruits = {"apple", "banana", "cherry"}
  ```
- **Duplicates are automatically removed**:
  ```python
  set_example = {1, 2, 2, 3, 4, 4}
  print(set_example)  # Output: {1, 2, 3, 4}
  ```

### 2. Checking for Membership  
- Use `in` to check if a value exists in a set:
  ```python
  if "apple" in fruits:
      print("Apple is in the set")
  ```

### 3. Adding and Removing Elements  
- Use `.add()` to add elements:
  ```python
  fruits.add("grape")
  ```
- Use `.remove()` to delete an item (raises an error if not found):
  ```python
  fruits.remove("banana")
  ```
- Use `.discard()` to remove an item **without errors**:
  ```python
  fruits.discard("grape")  # No error even if "grape" doesn't exist
  ```

### 4. Set Operations  
- **Union (`|`)**: Combines two sets (removes duplicates).
  ```python
  set1 = {1, 2, 3}
  set2 = {3, 4, 5}
  union_set = set1 | set2  # Output: {1, 2, 3, 4, 5}
  ```
- **Intersection (`&`)**: Finds common elements.
  ```python
  intersection_set = set1 & set2  # Output: {3}
  ```
- **Difference (`-`)**: Elements in `set1` but not in `set2`.
  ```python
  difference_set = set1 - set2  # Output: {1, 2}
  ```
- **Symmetric Difference (`^`)**: Elements in either set, but not both.
  ```python
  symmetric_diff = set1 ^ set2  # Output: {1, 2, 4, 5}
  ```

### 5. Converting Between Lists, Tuples, and Sets  
- Convert a list to a **set** to remove duplicates:
  ```python
  numbers = [1, 2, 2, 3, 4, 4, 5]
  unique_numbers = set(numbers)  # Output: {1, 2, 3, 4, 5}
  ```
- Convert a **set** back to a list:
  ```python
  list_version = list(unique_numbers)
  ```
- Convert a **list** to a tuple:
  ```python
  tuple_version = tuple(numbers)
  ```

## Exercises

### Exercise 1: Creating a Tuple  
Create a tuple called `colors` containing `"red"`, `"green"`, and `"blue"`.  
- Print the tuple.  
- Use `type()` to confirm it's a tuple.

In [ ]:
# Your code here

### Exercise 2: Accessing Tuple Elements  
Using the `colors` tuple:  
- Print the **first** and **last** elements using indexing.  
- Try to change the first element and observe what happens.

In [ ]:
# Your code here

### Exercise 3: Tuple Unpacking  
Given the tuple `person = ("Alice", 25, "Engineer")`:  
- Unpack the values into three separate variables: `name`, `age`, and `profession`.  
- Print each variable.

In [ ]:
# Your code here

### Exercise 4: Tuple Concatenation & Repetition  
Using `tuple1 = (1, 2, 3)` and `tuple2 = (4, 5, 6)`:  
- Create a new tuple `combined` by concatenating `tuple1` and `tuple2`.  
- Create another tuple `repeated` by repeating `tuple1` **two times**.  
- Print both results.

In [ ]:
# Your code here

### Exercise 5: Creating a Set  
Create a set called `fruits` containing `"apple"`, `"banana"`, and `"cherry"`.  
- Print the set.  
- Try adding `"banana"` again and observe what happens.

In [ ]:
# Your code here

### Exercise 6: Checking for Set Membership  
Using the `fruits` set:  
- Check if `"apple"` is in the set.  
- Check if `"grape"` is in the set.

In [ ]:
# Your code here

### Exercise 7: Set Operations (Union & Intersection)  
Given:  
```python
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
```
- Find the **union** of `set1` and `set2`.  
- Find the **intersection** of `set1` and `set2`.

In [ ]:
# Your code here

### Exercise 8: Removing Elements from a Set  
Using the `fruits` set:  
- Remove `"banana"` using `remove()`.  
- Try removing `"grape"` using `discard()` and observe what happens.

### Exercise 9: Converting Between Lists, Tuples, and Sets  
Given the list:  
```python
numbers = [1, 2, 2, 3, 4, 4, 5]
```
- Convert it into a **set** to remove duplicates.  
- Convert the set back into a **list**.  
- Convert the list into a **tuple**.  
- Print all results.

In [ ]:
# Your code here

### Exercise 10: Finding the Difference Between Sets  
Given:  
```python
set_a = {10, 20, 30, 40}
set_b = {30, 40, 50, 60}
```
- Find the **difference** (`set_a - set_b`).  
- Find the **symmetric difference** (`set_a ^ set_b`).

In [ ]:
# Your code here

### Exercise 12: Default Values Using `setdefault()`  
Using the `student` dictionary:  
- Use `setdefault()` to retrieve `"grade"`, and if it doesn't exist, set it to `"B"`.  
- Print the dictionary.

In [ ]:
# Your code here